<hr>
<div id="section-bouton" class="grid">
  <div class="section-header text-center">
    <h3> {{ section.settings.text-box }} </h3>
  </div>

  {% for block in section.blocks %}  
  <div class="{{ block.settings.lien }}" id="call-to-action">   
    <a href="{{ block.settings.lien }}" class="bouton {{ block.settings.size }} text-center">{{ block.settings.textelien }}</a>
  </div> 
  {% endfor %}

</div>  
{% schema %}
{
  "name": "Home button",
	"max_blocks": 3,
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Ajouter un bouton",
      "settings": [
        {
          "id": "lien",
          "type": "url",
       		"label": "Lien du Bouton"
        },
        {
          "id": "textelien",
          "type": "text",
          "label": "Texte Bouton",
          "default": "Valider"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Block Button",
      "category": "Home Button",
      "blocks": [
        { 
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}